<link rel="stylesheet" href="{{ 'image-banner-overlay.css' | asset_url }}">

<section class="image-with-text-overlay" {{ section.shopify_attributes }}>
  {% if section.settings.top_bar_logo != blank
    or section.settings.top_bar_text != blank
    or section.settings.top_bar_button_label != blank
  %}
    <div class="top-bar-wrapper" style="background-color: {{ section.settings.top_bar_color }};">
      <div class="top-bar-content">
        {% if section.settings.top_bar_logo != blank %}
          <div class="top-bar-logo">
            {%- capture sizes -%}
                (min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | divided_by: 2 }}px,
                (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)
            {%- endcapture -%}
            {{
              section.settings.top_bar_logo
              | image_url: width: 1500
              | image_tag: sizes: sizes, widths: '165, 360, 535, 750, 1070, 1500'
            }}
          </div>
        {% endif %}
        {% if section.settings.top_bar_text != blank %}
          <div class="top-bar-text" style="color: {{ section.settings.top_bar_text_color }};">
            {{ section.settings.top_bar_text }}
          </div>
        {% endif %}
        {% if section.settings.top_bar_button_label != blank %}
          <div class="top-bar__button">
            <a
              href="{% if section.settings.top_bar_button_link != blank %}{{ section.settings.top_bar_button_link }}{% else %}javascript:void(0);{% endif %}"
              class="btn"
              style="--background-color: {{ section.settings.top_button_color }}; --text-color: {{ section.settings.top_button_text_color }}; --font-size: {{ section.settings.button_text_size }}px;"
            >
              {{ section.settings.top_bar_button_label }}
              <svg width="28" height="13" viewBox="0 0 28 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M1.11108 5.74402L0.361084 5.74402L0.361084 7.24402L1.11108 7.24402L1.11108 5.74402ZM27.1487 7.02435C27.4416 6.73146 27.4416 6.25658 27.1487 5.96369L22.3757 1.19072C22.0828 0.897826 21.6079 0.897826 21.315 1.19072C21.0221 1.48361 21.0221 1.95849 21.315 2.25138L25.5577 6.49402L21.315 10.7367C21.0221 11.0296 21.0221 11.5044 21.315 11.7973C21.6079 12.0902 22.0828 12.0902 22.3757 11.7973L27.1487 7.02435ZM1.11108 7.24402L26.6183 7.24402L26.6183 5.74402L1.11108 5.74402L1.11108 7.24402Z" fill="{{ section.settings.top_button_text_color }}"/>
              </svg>
            </a>
          </div>
        {% endif %}
      </div>
    </div>
  {% endif %}
  <div class="image-with-text-overlay__container">
    <div class="image-with-text-overlay__image">
      {%- if section.settings['d-image'] != blank -%}
        <div
          class="desktop-image{%- if section.settings['m-image'] != blank %} has_mobile_image{% endif %}"
          style="--image-height: {{ section.settings['d-image-height'] }};"
        >
          {%- capture sizes -%}
                    (min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | divided_by: 2 }}px,
                    (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)
                {%- endcapture -%}
          {{
            section.settings['d-image']
            | image_url: width: 1500
            | image_tag: sizes: sizes, widths: '165, 360, 535, 750, 1070, 1500'
          }}
        </div>
      {% endif %}
      {%- if section.settings['m-image'] != blank and section.settings['d-image'] != blank -%}
        <div class="mobile-image" style="--image-height: {{ section.settings['m-image-height'] }};">
          {%- capture sizes -%}
                    (min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | divided_by: 2 }}px,
                    (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)
                {%- endcapture -%}
          {{
            section.settings['m-image']
            | image_url: width: 1500
            | image_tag: sizes: sizes, widths: '165, 360, 535, 750, 1070, 1500'
          }}
        </div>
      {% endif %}
    </div>
    <div
      class="image-with-text-overlay__content content-{{ section.settings.text_position }} content-mobile-{{ section.settings.mobile_text_position }}"
      style="--text-width: {{ section.settings.text_width }}px; --block-radius: {{ section.settings.overlay_border_radius }}px; --text-alignment: {{ section.settings.text_alignment }};{% if section.settings.enable_text_block_bg %}--block-bg: {{section.settings.block_bg_color}};{% endif %}"
    >
      {% if section.settings.heading != blank %}
        <h2
          class="image-with-text-overlay__heading"
          style="--color: {{ section.settings.heading_color }}; --font-size: {{ section.settings.heading_size }}px;--mobile-font-size: {{ section.settings.mobile_heading_size }}px;"
        >
          {{ section.settings.heading }}
        </h2>
      {% endif %}
      {% if section.settings.text != blank %}
        <div
          class="image-with-text-overlay__text"
          style="--color: {{ section.settings.text_color }}; --font-size: {{ section.settings.text_size }}px;--mobile-font-size: {{ section.settings.mobile_text_size }}px;"
        >
          {{ section.settings.text }}
        </div>
      {% endif %}
      {% if section.settings['button-label'] != blank %}
        <div class="image-with-text-overlay__button">
          <a
            href="{% if section.settings.button-link != blank %}{{ section.settings.button-link }}{% else %}javascript:void(0);{% endif %}"
            class="btn"
            style="--background-color: {{ section.settings.button_color }}; --text-color: {{ section.settings.button_text_color }}; --font-size: {{ section.settings.button_text_size }}px;"
          >
            {{ section.settings['button-label'] }}
            <svg width="28" height="13" viewBox="0 0 28 13" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M1.11108 5.74402L0.361084 5.74402L0.361084 7.24402L1.11108 7.24402L1.11108 5.74402ZM27.1487 7.02435C27.4416 6.73146 27.4416 6.25658 27.1487 5.96369L22.3757 1.19072C22.0828 0.897826 21.6079 0.897826 21.315 1.19072C21.0221 1.48361 21.0221 1.95849 21.315 2.25138L25.5577 6.49402L21.315 10.7367C21.0221 11.0296 21.0221 11.5044 21.315 11.7973C21.6079 12.0902 22.0828 12.0902 22.3757 11.7973L27.1487 7.02435ZM1.11108 7.24402L26.6183 7.24402L26.6183 5.74402L1.11108 5.74402L1.11108 7.24402Z" fill="{{ section.settings.button_text_color }}"/>
            </svg>
          </a>
        </div>
      {% endif %}
    </div>
  </div>
  {% if section.settings.bottom_text != blank %}
    <div
      class="bottom-text-wrapper"
      style="color: {{ section.settings.bootm_text_color }}; background-color: {{ section.settings.bottom_text_bg_color }};"
    >
      {{ section.settings.bottom_text }}
    </div>
  {% endif %}
</section>

{% schema %}
{
  "name": "Image with Text Overlay",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "header",
      "content": "Top Bar Settings"
    },
    {
      "type": "image_picker",
      "id": "top_bar_logo",
      "label": "Top Bar Logo"
    },
    {
      "type": "text",
      "id": "top_bar_text",
      "label": "Top Bar Text"
    },
    {
      "type": "text",
      "id": "top_bar_button_label",
      "label": "Top Bar Button Label"
    },
    {
      "type": "url",
      "id": "top_bar_button_link",
      "label": "Top Bar Button Link"
    },
    {
      "type": "color",
      "id": "top_bar_color",
      "label": "Top Bar Background Color"
    },
    {
      "type": "color",
      "id": "top_button_color",
      "label": "Top BarButton Background Color",
      "default": "#000000"
    },
    {
      "type": "color",
      "id": "top_button_text_color",
      "label": "Top Bar Button Text Color",
      "default": "#FFFFFF"
    },
    {
      "type": "color",
      "id": "top_bar_text_color",
      "label": "Top Bar Text Color"
    },
    {
      "type": "header",
      "content": "Images"
    },
    {
      "type": "image_picker",
      "id": "d-image",
      "label": "Desktop Image"
    },
    {
      "type": "select",
      "id": "d-image-height",
      "label": "Desktop Image Height",
      "default": "60vh",
      "options": [
        {
          "value": "40vh",
          "label": "Small"
        },
        {
          "value": "60vh",
          "label": "Medium"
        },
        {
          "value": "80vh",
          "label": "Large"
        },
        {
          "value": "100vh",
          "label": "Full"
        }
      ]
    },
    {
      "type": "image_picker",
      "id": "m-image",
      "label": "Mobile Image"
    },
    {
      "type": "select",
      "id": "m-image-height",
      "label": "Mobile Image Height",
      "default": "40vh",
      "options": [
        {
          "value": "40vh",
          "label": "Small"
        },
        {
          "value": "60vh",
          "label": "Medium"
        },
        {
          "value": "80vh",
          "label": "Large"
        },
        {
          "value": "100vh",
          "label": "Full"
        }
      ]
    },
    {
      "type": "header",
      "content": "Content"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "Heading"
    },
    {
      "type": "richtext",
      "id": "text",
      "label": "Text"
    },
    {
      "type": "text",
      "id": "button-label",
      "label": "button Label"
    },
    {
      "type": "url",
      "id": "button-link",
      "label": "button Link"
    },
    {
      "type": "header",
      "content": "Text Block Layout"
    },
    {
      "type": "select",
      "id": "text_position",
      "label": "Text Position (Desktop)",
      "options": [
        {
          "value": "top-left",
          "label": "Top Left"
        },
        {
          "value": "top-center",
          "label": "Top Center"
        },
        {
          "value": "top-right",
          "label": "Top Right"
        },
        {
          "value": "center-left",
          "label": "Center Left"
        },
        {
          "value": "center-center",
          "label": "Center"
        },
        {
          "value": "center-right",
          "label": "Center Right"
        },
        {
          "value": "bottom-left",
          "label": "Bottom Left"
        },
        {
          "value": "bottom-center",
          "label": "Bottom Center"
        },
        {
          "value": "bottom-right",
          "label": "Bottom Right"
        }
      ],
      "default": "center-center"
    },
    {
      "type": "select",
      "id": "text_alignment",
      "label": "Text Alignment",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "center"
    },
    {
      "type": "range",
      "id": "text_width",
      "min": 320,
      "max": 800,
      "step": 20,
      "unit": "px",
      "label": "Text Block Width (Desktop)",
      "default": 540
    },
    {
      "type": "select",
      "id": "mobile_text_position",
      "label": "Mobile Text Layout",
      "options": [
        {
          "value": "overlay",
          "label": "Overlay on Image"
        },
        {
          "value": "below",
          "label": "Below Image"
        }
      ],
      "default": "overlay",
      "info": "Choose whether text overlays the image or appears below it on mobile."
    },
    {
      "type": "header",
      "content": "Typography"
    },
    {
      "type": "range",
      "id": "heading_size",
      "min": 16,
      "max": 72,
      "step": 2,
      "unit": "px",
      "label": "Heading Size (Desktop)",
      "default": 36
    },
    {
      "type": "range",
      "id": "mobile_heading_size",
      "min": 16,
      "max": 48,
      "step": 2,
      "unit": "px",
      "label": "Heading Size (Mobile)",
      "default": 28
    },
    {
      "type": "range",
      "id": "text_size",
      "min": 12,
      "max": 24,
      "step": 1,
      "unit": "px",
      "label": "Description Text Size (Desktop)",
      "default": 16
    },
    {
      "type": "range",
      "id": "mobile_text_size",
      "min": 12,
      "max": 20,
      "step": 1,
      "unit": "px",
      "label": "Description Text Size (Mobile)",
      "default": 14
    },
    {
      "type": "header",
      "content": "Colors & Styling"
    },
    {
      "type": "checkbox",
      "id": "enable_text_block_bg",
      "label": "Enable Text Block Background"
    },
    {
      "type": "color_background",
      "id": "block_bg_color",
      "label": "Block Background Color"
    },
    {
      "type": "range",
      "id": "overlay_border_radius",
      "min": 0,
      "max": 20,
      "step": 1,
      "unit": "px",
      "label": "Overlay Border Radius",
      "default": 0
    },
    {
      "type": "color",
      "id": "heading_color",
      "label": "Heading Color",
      "default": "#000000"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text Color",
      "default": "#333333"
    },
    {
      "type": "header",
      "content": "Button Styling"
    },
    {
      "type": "color",
      "id": "button_color",
      "label": "Button Background Color",
      "default": "#000000"
    },
    {
      "type": "color",
      "id": "button_text_color",
      "label": "Button Text Color",
      "default": "#FFFFFF"
    },
    {
      "type": "range",
      "id": "button_border_radius",
      "min": 0,
      "max": 40,
      "step": 1,
      "unit": "px",
      "label": "Button Border Radius",
      "default": 4
    },
    {
      "type": "range",
      "id": "button_text_size",
      "min": 12,
      "max": 20,
      "step": 1,
      "unit": "px",
      "label": "Button Text Size",
      "default": 14
    },
    {
      "type": "header",
      "content": "Bottom Text"
    },
    {
      "type": "text",
      "id": "bottom_text",
      "label": "Bottom Text"
    },
    {
      "type": "color",
      "id": "bootm_text_color",
      "label": "Bottom Text Color"
    },
    {
      "type": "color",
      "id": "bottom_text_bg_color",
      "label": "Bottom Text Background Color"
    }
  ],
  "presets": [
    {
      "name": "Image with Text Overlay",
      "category": "Image"
    }
  ]
}
{% endschema %}
